<div class="js-Modal-full-nutrition modal modal-full-nutrition">
    <div class="frame-border">
        <h1 class="cb-recipe-title__main--modal">title</h1>
        <div class="nutrition-label"></div>
        <div class="ingredients">
            <h6>INGREDIENTS:</h6>
            <p>
                asdsad
            </p>
        </div>
        <span class="frame__close-btn"><i class="fa-solid fa-circle-xmark"></i></span>
    </div>
</div>