<!-- include header -->
<%- include('partials/_header.ejs') %>
<!-- include header -->
<div class="js-Modal-full-nutrition modal modal-full-nutrition">
    <div class="frame-border">
        <h1 class="cb-recipe-title__main--modal">Title</h1>
        <div class="nutrition-label">
            <%if(nutritionInfo){%>
                document.querySelector('nutrition-label').innerHTML =<%=nutritionInfo%>
            <%}%>
        </div>
        <div class="ingredients">
            <h6>INGREDIENTS:</h6>
            <p>
                ingredients
            </p>
        </div>
        <span class="frame__close-btn"><i class="fa-solid fa-circle-xmark"></i></span>
    </div>
</div>
<!-- include footer -->
<%- include('partials/_footer.ejs') %>
<!-- include footer -->

</body>
</html>